## Categorize New Member

In [3]:
def open_or_senior(data):
    return [ "Senior" if (x[0] >= 55 and x[1] > 7)  else  "Open"  for x in data]

In [4]:
open_or_senior([[18, 20],[45, 2],[61, 12],[37, 6],[21, 21],[78, 9]])

['Open', 'Open', 'Senior', 'Open', 'Open', 'Senior']

## Friend or Foe?

In [5]:
def friend(x):
    return [i for i in x if len(i) == 4]

In [6]:
friend(["Ryan", "Kieran", "Mark"])

['Ryan', 'Mark']

## Find the next perfect square!

In [7]:
import math
def find_next_square(sq):
    if sq >= 0:
        sqr = math.sqrt(sq)
        if sqr.is_integer():#sq // sq ** 0.5 == 0:
            return int((sqr +1)) ** 2
        else:
            return -1

In [8]:
find_next_square(121)

144

In [9]:
find_next_square(114)

-1

## Find The Parity Outlier

In [10]:
def find_outlier(integers):
    evenList = []
    oddList = []
    for x in integers:
        if x % 2 == 0:
            evenList.append(x)
        else:
            oddList.append(x)
    if len(oddList) > len (evenList):
        return evenList[0]
    else:
        return oddList[0]

In [11]:
find_outlier([2, 4, 0, 100, 4, 11, 2602, 36])

11

In [12]:
find_outlier([160, 3, 1719, 19, 11, 13, -21])

160

## Sum of the first nth term of Series

In [13]:
def series_sum(n):
    result = 0 
    number = 1 
    for i in range(n):
        if i == 0:
            result = 1
        else:
            number += 3
            result = result + (1 / number)
    return f"{result:.2f}"

In [14]:
series_sum(5)

'1.57'

## My second Solution

In [15]:
def series_sum_solution1(n):
    #return '{:.2f}'.format(sum(1.0/(3 * i + 1) for i in range(n)))
    return f"{sum(1.0/(3 * i +1) for i in range(n)):.2f}"

In [16]:
series_sum_solution1(5)

'1.57'

## My lambda solution

In [17]:
series_sum_solution2 = lambda n: f"{sum(1.0/(3 * i +1) for i in range(n)):.2f}"

In [18]:
series_sum_solution2(5)

'1.57'